* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comic Neue", cursive;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
}

.board {
    width: 25rem;
    height: 25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell.picked {
    background-color: rgb(100, 255, 100);
}

.cell.tie {
    background-color: rgb(255, 100, 100);
}

.cell {
    background-color: inherit;
    font-family: inherit;
    font-size: 5rem;
}

.cell[data-row="0"] {
    border-top: none;
}

.cell[data-row="2"] {
    border-bottom: none;
}

.cell[data-column="0"] {
    border-left: none;
}

.cell[data-column="2"] {
    border-right: none;
}

.cell:not(:disabled):hover {
    background-color: rgb(240, 240, 240);
}


.cell:not(:disabled):active {
    background-color: rgb(230, 230, 230);
}


.cell:disabled {
    border-color: black;
    color: black;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.center p {
    font-size: 2rem;
}